//
//  beta-release.xcconfig
//  EmployeeFormExample
//
//  Created by Michael Logothetis on 8/6/2025.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

//#include "Debug.xcconfig"
#include "BundleConfig.xcconfig"

ASSETCATALOG_COMPILER_APPICON_NAME=AppIcon-beta
